{% extends "site-base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}
{% load static wagtailuserbar %}
{% load render_bundle from webpack_loader %}

{% block extra_css %}
    {{ block.super }}

    {% render_bundle 'services' 'css' 'ASSETS' %}

{% endblock extra_css %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1>{{ page.title }}</h1>
            <h3>{{ page.tagline }}</h3>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->

        {% for service in  page.services.values %}
            <div class="row service">
                <div class="col-12 d-flex justify-content-center align-content-center highlight-title-row">
                    {% if service.graphic %}
                        <div class="highlight_graphic"
                        >
                            <img src="/static/{{ h.graphic|safe }}"/>
                        </div>

                    {% else %}
                        <h2>
                            <a href="{{ service.link }}"
                               target="_blank">
                                {{ service.name }}
                            </a>
                        </h2>
                    {% endif %}
                </div>
                <div class="col-6 offset-3">
                    {{ service.text|richtext }}
                </div>

                {% if  service.code %}
                    <div class="col-6 offset-3">
                        {{ service.text|richtext }}
                    </div>
                {% endif %}

                {% if service.text2 %}
                    <div class="col-6 offset-3">
                        {{ service.text2|richtext }}

                    </div>
                {% endif %}
            </div>
        {% endfor %}

    </div>
{% endblock %}
