{% load wagtailcore_tags %}
{% load staticfiles %}

<div class="header">
    <div class="d-flex justify-content-start align-items-center">
        <div class="d-flex justify-content-start align-items-start">
            <div class="">
                <img src="{% static 'img/sharpertool_logo.png' %}" alt="">
            </div>

            <div class="st_name d-flex justify-content-end">
                <img src="{% static 'img/sharpertool_header.png' %}" alt="">
                <div>Hone Your Passion</div>
            </div>
        </div>

    </div>

</div>

{% include "common/navbar.html" %}

{% include "common/herobar.html" %}
