{% load wagtailcore_tags %}
{% load staticfiles %}

<div class="pg-empty-placeholder header">
    <div class="d-flex justify-content-start align-items-center">
        <div class="d-flex justify-content-start align-items-center">
            <div class="">
                <img src="{% static 'img/sharpertool_logo.png' %}" alt="">
            </div>

            <div class="">
                <img src="{% static 'img/sharpertool_header.png' %}" alt="">
            </div>
        </div>

    </div>

</div>

{% include "common/navbar.html" %}

<section class="hero">
    <div class="pg-empty-placeholder hero-inner"></div>
</section>
