.idea/
.venv3/
vCard-HTML-Package/
*.zip


/sharpertool/.env.local
/sharpertool/sharpertool/static/css/font-awesome.css.map
/sharpertool/sharpertool/static/css/font-awesome.css
__pycache__
/sharpertool/local_config.py
/collectedstatic
__pycache__/
*~
/media
*.map
/sharpertool/static/css/main.css
