{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}
{% load static wagtailuserbar %}

{% block extra_style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static '/static/css/landing.css' %}">
{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1>{{ page.title }}</h1>
            <h3>{{ page.tagline }}</h3>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">

            {% for h in  page.highlights.values %}
                <div class="col-lg-3">
                    <h2>
                        <a href="{{ h.link }}"
                           target="_blank">
                            {{ h.name}}
                        </a>
                    </h2>
                    {{ h.text|richtext }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
