{% extends "site-base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}
{% load static wagtailuserbar %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1>{{ page.title }}</h1>
            <h3>{{ page.tagline }}</h3>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">

                <div class="col-lg-9">
                    {{ page.text|richtext }}
                </div>
        </div>
    </div>

{% endblock %}
