{% extends "site-base.html" %}
{% load crispy_forms_tags %}

{% load static wagtailcore_tags wagtailimages_tags %}
{% load static wagtailuserbar %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1>{{ page.title }}</h1>
            <h3>{{ page.tagline }}</h3>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <form action="." method="POST" novalidate>
            {% csrf_token %}

            {{ form|crispy }}

            <button type="submit" class="btn btn-success">Contact Us</button>
        </form>
    </div>
{% endblock %}
