POSTGRES_PASSWORD=password-here
POSTGRES_USER=django_user
POSTGRES_DB=sharpertool

WAGTAIL_SITE_NAME=sharpertoo..local
MEDIA_ROOT_LOCAL="/Volumes/sharpertool/Users/ed/Dropbox (Personal)/Development/database/sharpertool"

DJANGO_ADMIN_URL=django-admin/
DJANGO_SETTINGS_MODULE=sharpertool.settings.dev
DJANGO_DEBUG=True

SECRET_KEY=<create a long key with 1password>
NEVERCACHE_KEY=<Create some long key here with 1password also>

DJANGO_ALLOWED_HOSTS=sharpertool.local,bapug.local

DJANGO_EMAIL_BACKEND=anymail.backends.mailgun.MailgunBackend

DJANGO_SERVER_EMAIL=Sharpertool.com <ed@sharpertool.com>
DJANGO_EMAIL_SUBJECT_PREFIX=Sharpertool Information

DJANGO_SECURE_SSL_REDIRECT=False
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True

# This is for 'local' development
DJANGO_SENTRY_DSN=
DJANGO_SENTRY_PUBLIC_DSN=

# If using Docker:
DATABASE_URL=postgresql://django_user:password@localhost:5446/sharpertool

# Demo Credentials
#AWS_ACCESS_KEY_ID=<valid key>
#AWS_SECRET_ACCESS_KEY=<valid key>
#AWS_STORAGE_BUCKET_NAME=datapages.storage.demo

