{% load static wagtailcore_tags wagtailimages_tags %}

<!-- SECTION 3 - CV / RESUME -->
<section class="no-display">
    <div class="item resume" id="3">
        <div class="page-head">
            <div class="row">
                <div class="col-md-5">
                    <h3>Resume</h3>
                </div>
                <div class="col-md-7">
                    <div class="np-main">
                        <p>Go to next/previous page</p>
                        <div class="np-controls">
                            <a href="#" class="previous"><i class="fa fa-arrow-circle-left"></i></a>
                            <a href="#" class="next"><i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="resume-info">
            <h4>Education</h4>
            <div class="sep2"></div>
            <ul>
                {% for edu in page.education.all %}
                    <li>
                        <h5>{{ edu.title }}</h5>
                        <span class="year">
                            <i class="fa fa-calendar"></i>
                            {{ edu.start }} - {{ edu.end }}
                        </span>
                        {{ edu.text|richtext }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="skills-info">
            <h4>Skills</h4>
            <div class="sep2"></div>
            <ul>
                {% for skill in page.skills.all %}

                    <li>
                        <p>{{ skill.title}} <span>{{ skill.pct }}</span></p>
                        <div class="skills-bg"><span class="skill{{ forloop.counter }}"></span></div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <!--<div class="services-info">-->
            <!--<h4>Services</h4>-->
            <!--<div class="sep2"></div>-->
            <!--<ul>-->
                <!--<li>-->
                    <!--<i class="fa fa-cloud"></i>-->
                    <!--<h5>Design</h5>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<i class="fa fa-smile-o"></i>-->
                    <!--<h5>Coding</h5>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<i class="fa fa-desktop"></i>-->
                    <!--<h5>Responsive</h5>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<i class="fa fa-text-width"></i>-->
                    <!--<h5>Planing</h5>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<i class="fa fa-comment"></i>-->
                    <!--<h5>Wordpress</h5>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<i class="fa fa-picture-o"></i>-->
                    <!--<h5>Photography</h5>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
        <div class="resume-info">
            <h4>Work Experience</h4>
            <div class="sep2"></div>
            <ul>
                {% for exp in page.experience.all %}
                    <li>
                        <h5>{{ exp.title }}</h5>
                        <span class="year">
                            <i class="fa fa-calendar"></i>
                            {{ exp.start }} - {{ exp.end }}
                        </span>
                        {{ exp.text|richtext }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
<!-- SECTION 3 - CV / RESUME -->
