{% load static wagtailcore_tags wagtailimages_tags %}

<!-- SECTION 2 - WORKS / PROJECTS / PORTFOLIO -->
<section class="no-display">
    <div class="works" id="2">
        <div class="page-head">
            <div class="row">
                <div class="col-md-5">
                    <h3>Portfolio</h3>
                </div>
                <div class="col-md-7">
                    <div class="np-main">
                        <p>Go to next/previous page</p>
                        <div class="np-controls">
                            <a href="#" class="previous"><i class="fa fa-arrow-circle-left"></i></a>
                            <a href="#" class="next"><i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-wrap">
            <div class="row">
                <ul id="filter-list" class="clearfix">
                    <li class="filter" data-filter="all"><i class="fa fa-th"></i> All</li>
                    <li class="filter" data-filter="webdesign">Web Design</li>
                    <li class="filter" data-filter="engineering">Engineering</li>
                    <li class="filter" data-filter="edatools">EDA Tools</li>
                </ul>
                <ul id="portfolio">
                    {% for pi in page.project_item.all %}
                        {% image pi.image fill-600x500 as img %}
                        {% image pi.thumb fill-600x500 as thumb %}

                        <li class="item col-md-4 {{ pi.section }}">
                            <a title="Example 1" href="{{ img.url }}" data-lightbox-gallery="gallery1"
                               class="nivo-lbox">
                                <div class="folio-img">
                                    <img src="{{ thumb.url }}" alt="" class="img-responsive">
                                    <div class="overlay">
                                        <div class="overlay-inner">
                                            <h4>{{ pi.title }}</h4>
                                            <p>{{ pi.subtext }}</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- SECTION 2 - WORKS / PROJECTS / PORTFOLIO -->
